body{
	text-align: center;
	/* background: #00ECB9; */
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

.time{
	padding: 10px;
	border-radius: 3px;
	background: #ffd5d8;
	display: inline-block;

	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

.time > span{
	padding: 15px;
	border-radius: 3px;
	background: #dc838b;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.heart{
	margin-top: 2.5rem;
}