.App, body {
  font-family: monospace !important;
  font-style: italic;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-fluid{
  margin-top: 4rem;
}

.bg-danger {
  background-color: #dc838b!important;
}

.seperator{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.slick-arrow , .slick-prev:focus, .slick-prev:hover,.slick-next:focus, .slick-next:hover{
  background: red;
}
.slick-next {
  right: 0px;
}
.slick-prev {
  left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
