.App, body {
  font-family: monospace !important;
  font-style: italic;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-fluid {
  margin-top: 4rem;
}

.bg-danger {
  background-color: #dc838b!important;
}

.seperator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.banner img{
  height: 800px;

  /* height: 1000px; */
}

.banner-bg {
  /* Full height */
  height: 800px;
  /* Center and scale the image nicely */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.save-the-date-banner {
  /* margin-top: 550px; */
  margin-top: -220px;
  font-weight: bold;
  color: #eadace;
  font-size: 60px;
  font-style: normal;
  text-shadow: 2px 2px #7b2323;
  font-family: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}