.social-media-section{
    margin-top: 20px;
}
.social-media-section i {
    font-size: x-large;
}

.fa-facebook{
    color: #3b5998;
}

.fa-instagram{
    color:#c30081
}

.fa-linkedin{
    color:#0a66c2
}